@page
@model AbbyWeb.Pages.Categories.CreateModel

<div class="col-6">
<form method="post">
        @* <span class="text-danger">@Html.ValidationMessage("Custom")</span> *@
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
    <div class="mb-3">
        <label asp-for="Category.Name" class="form-label">Category</label>
        <input asp-for="Category.Name" class="form-control">
        <span asp-validation-for="Category.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Category.DisplayOrder" class="form-label">Display Order</label>
        <input asp-for="Category.DisplayOrder" class="form-control">
        <span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}