@page
@model AbbyWeb.Pages.Categories.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            <a asp-page="create" class="btn btn-primary"><i class="bi bi-pencil-fill"></i>Add new category</a>
        </div>
    </div>
    <br /><br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Display Order</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Categories)
            {
                 <tr>
                    <td width="50%">@category.Name</td>
                    <td width="30%">@category.DisplayOrder</td>
                    <td width="30%">
                        <a asp-page="Edit" asp-route-id="@category.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-fill"></i></a>
                        <a asp-page="Delete" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>